/* ======================================================================= */
/* ==============================  GENERAL  ============================== */
/* ======================================================================= */
:root{
    --color-une: #E63E44;
    --color-deux: #720F33;
    --color-trois: #fff;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    background: var(--color-deux);
}

body::-webkit-scrollbar-thumb{
    background: var(--color-trois);
}

body{
    margin: 0px;
    font-family: 'Josefin Sans';
    position: relative;  
    
    text-align: center;
}

div, header, footer, nav, section, article, aside, figure{
    box-sizing: border-box;
}

header, footer, nav{
    overflow: hidden;
}

h1{
    color: var(--color-une);
    font-size: 3em;

    display: inline-block;
    margin: auto;

    margin-bottom: 5vh;

    text-align: center;
    border-bottom: 5px var(--color-une) solid;
}

p{
    font-family: 'Rubik', sans-serif;
}

/* ======================================================================= */
/* ===============================  HEADER  ============================== */
/* ======================================================================= */

header{
    background-color: var(--color-une);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header figure{
    text-align: center;
     
}

header img{
    height: 500px;
    width: auto;
}

/* ======================================================================= */
/* =================================  NAV  =============================== */
/* ======================================================================= */

nav.unfixed{
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0px;
}

nav.fixed{
    overflow: visible;
    position: fixed;
    top: 0px;
    opacity: 1;

    height: 8vh;
    width: 100vw;

    background-color: var(--color-une);
    border-bottom: 0px;
}

/* =========================  Mon logo  ============================ */

nav{
    position: relative;
}

nav figure{
    padding: 0px;
    margin: 0px;

    height: 100%;

    position: absolute;
}

nav #nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;

    left: 0px;
    top: 0px;
}

nav #nav-rs{
    right: 20vw;
    top: 0px;

    z-index: -9;
}

nav figure img{
    height: 20vh;
    width: auto;

    position: absolute;
    top: 0px;
    left: 0px;
}

#rs{
    position: absolute;
    top: 5vh;
    right: 2vw;

    list-style: none;

    margin: 0px;
    padding: 0px;
}

#rs li{
    float: left;

    width: 33%;
}

#rs img{
    width: 4vw;
    height: auto;

    border-bottom: 5px solid var(--color-une);

    transition-timing-function: ease-out;
    transition-duration: 0.2s;
}

#rs a:hover img{
    border-bottom: 5px solid var(--color-trois);
    color: var(--color-une);
    width: 4.5vw;
    height: auto;

    transition-timing-function: ease-out;
    transition-duration: 0.2s;
}

/* ========================  Supérieure  =========================== */

#superieure{
    list-style: none;
    padding: 0px;
    margin: auto;
    width: 60%;
    float: none;
    
    position: relative;
}

#superieure li{
    width: 25%;
    float: left;
    text-align: center;
}

nav #superieure a, nav span.crea{
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6em;
    color: var(--color-trois);
    
    display: block;
    padding: 20px 0px 20px 0px;
    
    transition-timing-function: ease-out;
    transition-duration: 0.1s;
}

nav.fixed #superieure a:hover , nav.fixed #superieure a:focus, nav.fixed span.crea:hover, nav.fixed span.crea:focus{
    background-color: var(--color-trois);
    color: var(--color-une);
    
    transition-timing-function: ease-out;
    transition-duration: 0.1s;
}

/* ========================  Inférieure  =========================== */

#inferieure{
    width: 0%;
    opacity: 0;
    
    background-color: var(--color-trois);
    color: var(--color-une);
    border: var(--color-une) solid 3px;
    
    position: absolute;
    top: 8vh;

    visibility: hidden;
}

#superieure li:hover > ul , #superieure li:focus > ul{
    visibility: visible;
    opacity: 1;
    padding: 0px;
    
    width: auto;
}

#inferieure li{
    display: block;

    float: none;
    
    width: 100%;
}

nav #superieure #inferieure a{
    display: block;
    padding: 10px;
    
    font-size: 1em;
    font-weight: 600;
    text-align: left;
    
    color: var(--color-une);
}

nav #superieure #inferieure a:hover, nav #superieure #inferieure a:focus{
    color: var(--color-trois);
    
    background-color: var(--color-une);
}

/* =============================================================================== */
/* =================================  MAIN - Index  ============================== */
/* =============================================================================== */

main{
    padding-top: 15vh;
    overflow: visible;
}

#index, #pre{
    overflow: hidden;
}

main section{
    margin: auto;
    width: 800px;
    min-height: 500px;

    margin-bottom: 100px;
}

main section h2{
    font-size: 2.5em;
    color: var(--color-deux);

    margin-left: 20px;

    text-align: center;
    position: relative;

    z-index: -999;
}

main section.list h2::before{
    content: url(../media/item_2.png);
    position: absolute;
    left: -1.2em;
    bottom: -0.4em;;
}

main section article{
    display: flex;
    flex-direction: row;
}

main section p{
    box-sizing: border-box;
    width: 400px;

    font-size: 1.3em;
    font-weight: 600;

    margin: 0px;
    padding-left: 10px;
    color: #000;
}

main:not(#index) section p{
    border-left: 5px var(--color-deux) solid;
}

main svg.parcousvg{
    display: block;
    margin: auto;
    text-align: center;
}

#pre figure, #pro figure{
    width: 25%;
}

main img.bigger{
    width: 75%;
    height: auto;
}

main img.smaller{
    width: 50%;
    height: auto;
}

section.list{
    margin: auto;
    margin: 5em auto 5em auto;
    padding-bottom: 5em;
    border-bottom: 5px solid var(--color-une)
}

p a{
    color: var(--color-une);
}

section.projet p{
    margin: 2em 0em 2em 0em;
    width: 100%;
    text-align: left;
}

section.projet h2{
    text-align: left;
}

/* =============================================================================== */
/* ===============================  MAIN - Créations  ============================ */
/* =============================================================================== */

#creations{
    width: 60vw;
}

#creations div.conteneur{
    width: 33%;

    float: left;
}

#creations div.conteneur:hover div{
    background-color: var(--color-une);
}

#creations div.conteneur div:hover p{
    color: var(--color-trois);
}

#creations p{
    color: var(--color-une);

    margin-top: 25%;
    margin-bottom: 5%;

    font-size: 2em;

    font-weight: 900;
}

/* =============================================================================== */
/* =================================  MAIN - LOGOS  ============================== */
/* =============================================================================== */

#logos h2{
    text-align: left;
}

#logos p{
    width: 100%;
    text-align: left;
}

#logos figure{
    margin: auto;
    text-align: center;
}

#logos img{
    width: 50%;
    height: auto;
}


/* =============================================================================== */
/* ==============================  MAIN - print =========================== */
/* =============================================================================== */

#print h2{
    text-align: left;
}

#print p{
    width: 100%;
    text-align: left;
}

#print figure{
    margin: auto;
    text-align: center;
}

/* =============================================================================== */
/* ==============================  MAIN - ILLUSTRATION =========================== */
/* =============================================================================== */

#illu h2{
    text-align: left;
}

#illu p{
    width: 100%;
    text-align: left;
}

#illu figure{
    margin: auto;
    text-align: center;
}

#illu img:not(img.smaller){
    width: 100%;
    height: auto;
}

#illu section:nth-child(5) img{
    width: 50%;
    height: auto;
}

/* =============================================================================== */
/* ==============================  MAIN - vetements =========================== */
/* =============================================================================== */

#clothes h2{
    text-align: left;
}

#clothes p{
    width: 100%;
    text-align: left;
}

#clothes figure{
    margin: auto;
    text-align: center;
}

#clothes figure:first-child img{
    width: 50%;
    height: auto;

    float: left;
}

/* =============================================================================== */
/* ==============================  MAIN - Modelisation =========================== */
/* =============================================================================== */

#troisd h2{
    text-align: left;
}

#troisd p{
    width: 100%;
    text-align: left;
}

#troisd figure{
    margin: auto;
    text-align: center;
}

/* =============================================================================== */
/* ==============================  MAIN - hhm =========================== */
/* =============================================================================== */

#hhm h2{
    text-align: left;
}

#hhm p{
    margin: 2em 0em 2em 0em;
    width: 100%;
    text-align: left;
}

#hhm figure{
    margin: auto;
    text-align: center;
}

/* =============================================================================== */
/* ==============================  MAIN - tsa =========================== */
/* =============================================================================== */

#tsa h2{
    text-align: left;
}

#tsa p{
    margin: 2em 0em 2em 0em;
    width: 100%;
    text-align: left;
}

#tsa figure{
    margin: auto;
    text-align: center;
}

/* =============================================================================== */
/* ==================================== FOOTER =================================== */
/* =============================================================================== */


footer{
    width: 100%;
    background-color: var(--color-une);
    height: 5em;
}
